<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/54731c5e-df36-4345-8c86-8cf4e91d05ad/resourceGroups/rg-indigorx-qa-eastus/providers/Microsoft.Web/sites/emailapiapp-qa</ResourceId>
    <ResourceGroup>rg-indigorx-qa-eastus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://emailapiapp-qa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8663d931-6cc0-4ceb-a4ca-d3148274c228</ProjectGuid>
    <PublishUrl>https://emailapiapp-qa.scm.azurewebsites.net/</PublishUrl>
    <UserName>$emailapiapp-qa</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>